tr:hover td {
  background-color: #5576c2;
  cursor: pointer;
}

.income-row:hover td {
  color: #80ff80;
}

.outcome-row:hover td {
  color: #ff8080;
}

.income-row {
  background-color: #daecda;
}

.outcome-row {
  background-color: #f1c8c8;
}

tr td {
  transition: all .3s linear;
}
